@import 'utils/variables';

body.login {
	background: $white;
	font-family: $font-mono;
}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {
	background-image: url(../icons/icon-logo-black.png?);
	background-image: none,url(../icons/icon-logo-black.svg);
}
body.login div#login form#loginform {}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {
	font-size: 12px;
}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
	background: lighten($color-brand, 5%);
	border-color: lighten($color-brand, 5%) #{$color-brand} #{$color-brand};
	box-shadow: 0 1px 0 #{$color-brand};
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}

.login #login_error, .login .message, .login .success {
	border-color: $color-brand;
}

body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}
