$event-baseline: u(3.5);
.event {


	.page-type-title {
		padding: u();
	}
	@at-root #{&}__title {
		background: $white;
		margin: 0;
		padding: u();
	}

	@at-root #{&}__header {
		overflow: hidden;

		.event__cta {
			@extend %b-blue;
			@extend .cta; // in elements/_button.scss
			height: $event-baseline;
			text-transform: lowercase;
			span, a {
				line-height: $event-baseline;
			}
		}

		@include media('>tablet') { & {
			display: grid;
			grid-template-columns: repeat(20, 5%); // vw causes horizontal overflow
			grid-auto-rows: $event-baseline;
			.event__hero {
				grid-column: 8 / span 13;
				.hero-container {
					// overflow-x: hidden;
					img {
						min-height: 9 * $event-baseline; // 9 (lowest row in grid) * (grid row height)
						width: 100%;
						object-fit: cover;
					}
				}
			}
			.event__cta {
				grid-column: 16 / span 5;
				grid-row: 9;
				align-self: end;
				@include font-size(12);
			}

			.event__title {
				grid-column: 2 / span 9;
				grid-row: 7 / span 2;
				@include font-size(27);
				overflow: visible;
			}
			.page-type-title {
				padding: 0;
				position: absolute;
				top: u(5);
				left: u();
			}
		}}
	}

	@at-root #{&}__content {
		margin-bottom: u(4);
		max-width: 1400px;
		margin: 0 auto;
		&-inner {
			max-width: 700px;
			padding: u(2);
			margin-top: u(2);
			line-height: 1.55;
		}
		@include media('>tablet') { & {
			display:flex;
			flex-wrap: wrap-reverse;
			align-items: stretch;

			//grid-template-columns: repeat(20, 5%);
			min-height: 50vh;
			&-inner {
				margin-top: u(5);
				grid-column: 2 / span 10;
				grid-row: auto;
				padding-top: 0;
			}
		}}

		@include media('>desktop') { & {
			&-inner {
				padding: u();
			}
		}}
	}
	@at-root #{&}__sidebar {
		grid-column: 15 / span 5;
		margin: u(5) 0;
		&-details {
			.month {
				@extend %text-low;
				padding-bottom: u(0.5);
				margin-top: u(-2);
			}

			.address {
				margin-right: u();
				letter-spacing: .03rem;
			}
		}
	}
}
