.events {
	@at-root #{&}__hero {
		display: flex;


		@include media('>tablet') { & {
			max-height: 700px;
			overflow: hidden;
		}}

		@include media('>desktop') { & {
			.hero-container {
				width: 75vw;
			}
		}}
	}

	@at-root #{&}__hero-details {
		background-color: $gray-lighter;
		padding: $u;
		position: relative;

		span { // 'featured'
			@include font-size($font-s-small);
			letter-spacing: 0.03rem;
			opacity: 0.46;
			margin-bottom: $u / 2;
			display: block;
		}

		p { // event blurb
			line-height: 1.25;
			@include font-size(14);
		}

		.date {
			position: absolute;
			bottom: $u;
			right: $u;

			.month {
				margin-bottom: $u / 2;
				color: $gray-dark;
			}
		}

		@include media('>desktop') { & {
			width: 25vw;
			padding: #{7 * $u} $u * 2;

			.date {
				font-size: larger;
				bottom: $u * 2;
				right: $u * 2;
			}
		}}
	}

	@at-root #{&}__hero-cta {
		@extend %b-blue;
		@extend %text-up;
		@extend .text-center;
		padding: $u;
		display: block;
		color: $white;
		text-decoration: none;

		@include media('>tablet') { & {
			width: 25vw;
			float: right;
		}}
	}

	@at-root #{&}__list {

		grid-auto-rows: 1fr;
		@include media('>tablet') { & {
		}}
	}

	h1 { // 'Events, huge'
		position: relative;
		display: inline-block;
		@include media('>desktop') { & {
			top: -$u * 4.5;
			left: $u /2;
			@include font-size(134);
		}}
	}
}

// large card-like events
.event-item {
	@extend %b-gray;
	margin-top: $u;
	padding: $u;
	height: $u * 20;
	width: 70vw;
	grid-column: 2 / span 8;


	@include media('>desktop') { & {
		margin-right: 4 * $u;
		padding: $u * 2;
	}}

	@at-root #{&}__details {
		position: relative;
		height: 100%;

		.date {
			position: absolute;
			bottom: 0;
		}
	}

	@at-root #{&}__title {
		@extend %text-mono;
	}

	@at-root #{&}__image {
		max-height: 50vh;
		padding: 0 !important;

		@include media('>desktop') { & {
			overflow: hidden;
			width: 30vw;
			position: relative;
			right: -4 * $u;
			height: $u * 16;
			float: right;
			img {
				max-height: 300px;
			}
		}}
	}
}
