$event-baseline: 3.5 * $u;
.event {
	@at-root #{&}__container {

		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__title {
		@extend %text-mono;
		@extend %text-up;
		font-weight: $font-w-light;
		background: $white;
		margin: 0;
		padding: $u;
	}

	@at-root #{&}__header {
		overflow: hidden;

		.event__cta {
			background: $color-brand;
			span, a {
				color: $white;
				text-align: center;
				display: block;
				text-decoration: none;
				text-transform: uppercase;
			}
		}

		@include media('>tablet') { & {
			display: grid;
			grid-template-columns: repeat(20, 5vw);
			grid-auto-rows: $event-baseline;
			.event__hero {
				grid-column: 8 / span 13;
				.hero-container {
					overflow-x: hidden;
					img {
						// width: 100vw;
						height: 100vh;
						object-fit: cover;
					}
				}
			}
			.event__cta {
				grid-column: 16 / span 5;
				height: $event-baseline;
				grid-row: 9;
				align-self: end;
				span, a {
					line-height: $event-baseline;
					width: 100%;
				}
			}

			.event__title {
				grid-column: 2 / span 9;
				grid-row: 7 / span 2;
				@include font-size(27);
				overflow: visible;
			}
			.page-type-title {
				position: absolute;
				top: $event-baseline;
				left: $u;
			}
		}}
	}

	@at-root #{&}__content {
		margin-bottom: $u * 4;
		&-inner {
			padding: $u;
			margin-top: $u * 2;
			line-height: 1.55;
		}
		@include media('>tablet') { & {
			display: grid;
			grid-template-columns: repeat(20, 5vw);
			min-height: 50vh;
			&-inner {
				margin-top: $u * 5;
				grid-column: 2 / span 10;
				grid-row: auto;
				padding-top: 0;
			}
		}}
	}
	@at-root #{&}__sidebar {
		grid-column: 15 / span 5;
		margin: ($u * 5 ) 0;
		&-details {
			.month {
				@extend %text-low;
				padding-bottom: $u / 2;
				margin-top: - $u * 2;
			}
			.day {

			}

			.address {
				margin-right: $u;
				letter-spacing: .03rem;
			}
		}

		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}
}
