.fp-cta {
	@extend .std-grid; // disp: grid ++
	grid-auto-rows: 5vh;
	max-height: 100vh;
	position: relative;
	overflow: hidden;

	@include media('>desktop') { & {
		// height: 95vh;
	}}

	@at-root #{&}__link {
		display: block;
		overflow: hidden;
		grid-column: 1 / span 8;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		// z-index: z('base', -1);

		img {
			object-fit: cover;
			height: 100%;
			background-attachment: fixed;
		}

		@include media('>tablet') { & {
			grid-column: 1 / span 24;
		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__logo-text {
		grid-column: 2 / span 3;
		grid-row: 5;
		z-index: z('base', 1);

		@include media('>tablet') { & {
			grid-column: 2 / span 5;
		}}

		@include media('>desktop') { & {
			grid-column: 2 / span 5;
			grid-row: 8;
		}}
	}

	@at-root #{&}__cta-block {
		@extend %white-on-black;
		grid-column: 1 / span 8;
		grid-row: 10;
		z-index: z('base', 2);
		&__inner {
			display: flex;
			flex-wrap: row;
			line-height: 5vh;
			padding-left: 5vw;
		}

		a {
			padding-right: 1rem;
			display: block;
			text-decoration: none;
			color: white;
		}
		svg { // arrow
			fill: white;
			width: 50px;
		}

		@include media('>tablet') { & {
			background: transparent;
			background-image: linear-gradient(to top, rgba(#000000, 0.3), rgba(#777777, 0.1), rgba(#ffffff, 0.0));
			grid-column: 1 / span 20;
			grid-row: 15 / span 4;
			line-height: 25vh;
			&__inner {
				line-height: 25vh;
				@include font-size(20);
			}
		}}

		@include media('>desktop') { & {

		}}
	}
}
