.fp-cta {
	background: $black;
	@extend .std-grid; // disp: grid ++
	grid-auto-rows: 10vh;
	height: 100%;
	min-height: 100vh;
	position: relative;
	overflow: hidden;

	@include media('>tablet') { & {
		height: auto;
		min-height: auto;
		max-height: 100vh;
		grid-auto-rows: 5vh;
	}}

	@at-root #{&}__link {
		display: block;
		overflow: hidden;
		grid-column: 1 / span 8;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		img {
			object-fit: cover;
			height: 100%;
			opacity: 0.9;
			transition: .3s ease-in opacity;
			&:hover {
				opacity: 1;
			}
		}

		@include media('>tablet') { & {
			grid-column: 1 / span 24;
		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__logo-text {
		grid-column: 1 / span 3;
		grid-row: 1;
		width: 100%; // fix for incorrect size rendering in chrome 68 mobile
		margin: #{u()} 0 0 #{u()};
		z-index: z('base', 1);

		@include media('>tablet') { & {
			grid-column: 2 / span 5;
		}}

		@include media('>desktop') { & {
			grid-column: 2 / span 5;
			grid-row: 8;
		}}
	}

	@at-root #{&}__cta-block {
		grid-column: 2 / span 6;
		grid-row: 3 / span 4;
		z-index: z('base', 2);
		&__inner {
			justify-self: center;
			text-align: center;
		}

		a {
			padding-right: 1rem;
			text-decoration: none;
			color: white;
			line-height: 1.3;
		}

		@include media('>phone') { & {
			grid-column: 1 / span 8;
			grid-row: 10;

			&__inner {
				display: flex;
				flex-wrap: row;
				line-height: 5vh;
				padding-left: 5vw;
			}
		}}


		svg { // arrow
			fill: white;
			width: 50px;
		}

		@include media('>tablet') { & {
			background: transparent;
			background-image: linear-gradient(to top, rgba(#000000, 0.3), rgba(#777777, 0.1), rgba(#ffffff, 0.0));
			grid-column: 1 / span 20;
			grid-row: 15 / span 4;
			line-height: 25vh;
			&__inner {
				line-height: 25vh;
				@include font-size(20);
			}
		}}

		@include media('>desktop') { & {

		}}
	}
}
