

.page__banner {
	max-height: 50vh;
}

.page__area {
	background: $white;

	.page-title {
		margin: u() u(2);
	}

	@include media('>1150px') { & {
		display: grid;
		grid-template-columns: 350px 1fr 700px 1fr; // 300px to clear nav

		article {
			grid-column: 3;
		}

		aside {
			grid-column: 4;
		}

		.article-header {
			position: sticky;
			top: 0em;
			left: 0em;
		}

		.page-title {
			transform: rotate(-90deg) translate3D(-400px, -400px, 0);
			position: relative;
			top: u();
			text-align: right;
		}
	}}
}

