.search__results {
	flex-wrap: wrap;
	.c-card {
		width: 100%;
		@at-root #{&} {

			@include media('>tablet') { & {
				width: calc(50% - #{$u * 2});
				margin: $u;
			}}

			@include media('>desktop') { & {

			}}
		}
		h2 a {
			text-decoration: none;
		}
	}

	@include media('>desktop') { & {
		margin-top: 6rem;
	}}

	h2 {
		margin-bottom: $u;
	}
	.byline {
		margin-bottom: $u * 2;
	}
}
.search .container {
	transition: background-image 0.2s ease-in-out;
}
