.search__results {
	flex-wrap: wrap;
	.c-card {
		width: 100%;
		@at-root #{&} {

			@include media('>tablet') { & {
				width: calc(50% - #{u() * 2});
				margin: u();
			}}
		}
		h2 a {
			text-decoration: none;
		}

		a + p { // image link followed by copy
			margin-top: u();
		}
		.excerpt-read-more {
			margin-top: u();
			display: block;
		}
	}

	@include media('>desktop') { & {
		margin-top: 6rem;
	}}

	h2 {
		margin-bottom: u();
	}
	.byline {
		margin-bottom: u(2);
	}
}

.search h1 { // the page title with the search query
	@include media('>tablet') { & {
		padding: u();
		margin-top: u(4); // clear the nav
	}}
}
