
$top-pad-desktop: 2.2em;

@import 'links';
@import 'menus';
@import 'toggle';
@import 'search';
@import 'header';


.current-menu-item {
	font-style: italic;
	font-weight: bold;

	a:before {
		content: '⇢ ';
	}
	ul > li a:before {
		content: "";
	}
	a:first-letter {
		margin-left: -20px;
	}
}


.admin-bar {
	.custom-logo-link, .overview-header, #header-search {
		top: calc(32px + #{$top-pad-desktop});
	}
	.site-header {
			top: 32px;
	}
}


