.innie {

}

.outie {

}

// for milieux blocks - move when ready
$mlx-features__total-columns: 4;

.mlx-block-features {
	background: $gray-darker;
	@at-root #{&}__container {
		padding: u();
		max-width: 1400px;
		margin: 0 auto;
		@include media('>tablet') { & {
			padding: u(2);
		}}

		@include media('>desktop') { & {

		}}

		&.is-grid {
			display: grid;
			flex-wrap: wrap;
			grid-gap: u();
		}
		@for $i from 0 through $mlx-features__total-columns {
			&.columns-#{$i} {
				grid-template-columns: repeat(#{$i}, 1fr);
				@include media('<tablet') { & {
					grid-template-columns: 1fr;
				}}
			}
		}


		// the article proper
		article {
			display: inline-grid;
			@include media('>tablet') { & {
				grid-template-columns: 1fr 1fr;
			}}

			@include media('>desktop') { & {

			}}


		}
	}

	@at-root #{&}__image {
		overflow: hidden;
		background: $gray-darker;
		img {
			transform: scale(1.05);
			transition:
				opacity .3s cubic-bezier(.215,.61,.355,1),
				transform .5s cubic-bezier(.215,.61,.355,1);
			&:hover {
				opacity: 0.7;
				transform: scale(1);
			}
		}
	}

	@at-root #{&}__text {
		color: $white;

		@include media('>tablet') { & {
			padding: u()
		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__title {
		line-height: 20px;
		padding-top: 0 !important;
	}

	@at-root #{&}__title a {
		color: $white;
		text-decoration: none;
		@extend %text-mono;
		@include font-size(20);

		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__byline {
		@extend .text-blend;
		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__excerpt {
		color: $gray;
		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__link {
		@extend %text-mono;
		color: $white;
		opacity: 1;
		display: block;
		padding-top: u();
		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}
}
