.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

%text-up {
	text-transform: uppercase;
}

%text-low {
	text-transform: lowercase;
}

%text-mono {
	font-family: $font-mono;
}

.text-blend {
	opacity: .7;
	transition: opacity .2s ease;
	&:hover {
		opacity: 1;
	}
}
