.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}

%text-up {
	text-transform: uppercase;
}

%text-mono {
	font-family: $font-mono;
}
