.footer {
	background: $color-nav-bg;
	color: rgba($white, 0.64);
	font-weight: $font-w-light;

	@at-root #{&}__inner {
		max-width: 1400px;
		margin: 0 auto;
		padding: u();
		padding-bottom: u(3);

		line-height: 1.2;
		font-size: 13px;
		display: flex;
		flex-wrap: wrap;
		h4 {
			font-family: $font-sans-serif;
			font-weight: $font-w-light;
			text-transform: Capitalize;
			letter-spacing: .01rem;
			color: $white;
			margin-bottom: 20px;
			padding-top: u() !important;
			@include font-size(23);
		}

		ul {
			list-style-type: none;
			li a {
				text-decoration: none;
				color: rgba($white, 0.64);
			}
		}
	}

	@at-root #{&}__contact {
		max-width: 300px;

		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__branding {
		max-width: 150px;
		align-self: center;
		margin-right: u(3);

		img {
			padding-bottom: u();
		}

		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__nav, #{&}__clusters {
		flex: 2 1 auto;
		max-width: 280px;

		@include media('>tablet') { & {
			ul {
				columns: 2;
			}
		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__copyright {
		padding: u();
		padding-bottom: $nav-height--mobile;
		@extend %white-on-black;
		font-weight: $font-w-light;
		font-size: 11px;
		@extend .text-center;
		@include media('>tablet') { & {
			padding-bottom: u();
		}}
	}
}
