@include media('>tablet') {
	.nav-main {
		top: u();
		left: u();
		width: 300px;
		@at-root #{&}__quickbar {
			z-index: z('nav', 1);
		}
		@at-root #{&}--collapsed {
			.nav-main__inner {
				transform: translate3D(0, 0, 0);
				max-height: 0;
				transition: max-height 0.15s ease-out;
			}

		}
		@at-root #{&}--expanded {
			.nav-main__inner {
				max-height: 700px;
				transition: max-height 0.25s ease-in;
			}
		}
		@at-root #{&}__quickbar, #{&}__content  {
		}

		@at-root #{&}__inner {
			height: 700px;
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
		}

		@at-root #{&}__header {
			display: block;
		}

		@at-root #{&}__search {
			.field {
			}
		}
		@at-root #{&}__content {
			padding: u(1.7);
			align-self: end;
			margin-bottom: 20%;
		}
		@at-root #{&}__quickbar {
		}
		@at-root #{&}__toggle {
		}
	}
}
