@include media('>tablet') {
	.nav-main {
		top: u();
		left: u();
		width: 300px;
		max-height: 700px;
		@at-root #{&}__quickbar {
			// display: flex;
		}
		@at-root #{&}--collapsed {
			// height: 4 * u();
			// width: 280px;
			.nav-main__header, .nav-main__content {
				// display: none;
			}
		}
		@at-root #{&}--expanded {

		}
		@at-root #{&}__quickbar, #{&}__content  {
			// background: black;
			// color: white;
			// justify-content: space-between;

		}

		@at-root #{&}__inner {
			height: 700px;
		}

		@at-root #{&}__header {
			display: block;
		}

		@at-root #{&}__search {
			.field {
			}
		}
		@at-root #{&}__content {
			padding: u();
			align-self: end;
		}
		@at-root #{&}__quickbar {
		}
		@at-root #{&}__toggle {
		}
	}
}
