.storyteller {
	align-items: center;
	background: $color__brand-teal;
	display: block;
	display: flex;
	min-height: 10vh;
	width: 100%;
	transition: .4s ease background-color;
	a {
		color: $color__brand-white;
		text-decoration: none;
		padding: 16em;
		width: 100%;
		display: flex;
	  justify-content: center;
 		align-items: center;
 		flex-wrap: wrap;
	}
	// always within a tag
	.storyteller-link {
		font-size: 5.5em;
		position: relative;
		display: inline-block;
		margin: 0;
		text-align: center;
		width: auto;
		&:before {
			content: "";
			position: absolute;
			right: 20px;
			height: 3px;
			bottom: 0;
			left: 20px;
			background-color: #fff;
			visibility: hidden;
			transform: scaleX(0);
			transition: all 0.3s ease-in-out 0s;
		}
	}
	&:hover {
		background: $color__brand-blue;
		.storyteller-link:before {
			visibility: visible;
			transform: scaleX(1);
		}
	}
	.storyteller-cta {
		font-family: $font__code;
		display: block;
		width: 100%;
		text-align: center;
		font-size: 1.1em;
		text-decoration: underline;
		padding-top: 1em;
	}
}

.site-footer {
	background: $color__background-footer;
	color: $color__brand-white;
	@extend %monospaced;
	font-size: 1.2em;
	min-height: 10vh;
	padding: 3rem;
	width: 100%;
	a {
		color: $color__brand-white;
	}
	ul {
		margin: 2em 0;
		padding: 0;
		list-style-type: none;
		li {
			padding: .1em 0 .2em 0;
			a {
				text-decoration: none;
			}
		}
		.current-menu-item {
			font-weight: normal;
			font-style: normal;
			a:before {
				content: "";
			}
		}
	}
	// loads FontAwesome icons
	.menu-social-container svg {
		height: 2em;
		width: 2em;
		* {
			fill: white;
		}
	}
	.search {
		.input-search {
			background: transparent;
			border: none;
			border-bottom: 1px solid white;
			padding: 5px;
			width: 100%;
			color:$color__brand-white;
			&::placeholder {
				color: $color__brand-white;
				font-size: .8em;
			}
		}
		svg {
			// margin: 0 1em 0 0;
			position: relative;
			height: 1.8em;
			width: 1.8em;
			left: -3em;
			top: 3.1em;
		}
		svg * {
			fill: $color__brand-white;
		}
	}
}
