/**
 * Styles for gutenberg blocks, placed in pages and posts
 * @author Michael Hemingway
 * @since Milieux v. 0.0.3
 */

.wp-block {
	@at-root #{&}-pullquote {
		@extend .text-left;
		p {
			font-weight: $font-w-extra-bold;
			letter-spacing: 0;
			line-height: 30px;
			font-family: $font-heading;
			padding-bottom: 2rem;
		}

		&::after {
			content: '';
			display: block;
			height: u();
			width: 50%;
			background: black;
		}
	}

	// default WP column flex column implementation
	@at-root #{&}-columns {
		max-width: 1400px;
		padding: u();
		margin: #{u()} auto;
		flex-wrap: wrap;
	}

	// ... and the blocks therein
	@at-root #{&}-column {
		margin: u();
		line-height: 1.32;
		flex-basis: 300px;
		display: flex;
		align-self: baseline;
		flex-grow: 1;
	}

	@at-root #{&}-cover {
		margin: 0;
		min-height: 500px;

		// style the default tag inside the cover block
		.wp-block-cover-text {
			font-size: 2.6rem;
			font-weight: 700;
		}
		// add margin to flow nicely in regular articles
		& + p {
			margin-bottom: u();
		}
	}

	@at-root #{&}-cover-image {
		margin-top: u();
	}

	@at-root #{&}-quote {
		padding-left: u(0.5) !important;

		p {
			margin-right: u(1);
			position: relative;
			left: u();
			border-left: 4px solid $black;
		}
	}

	@at-root #{&}-embed, #{&}-image {
		margin-top: u(2);
	}

	@at-root #{&}-separator {
		margin-top: u(2);
		max-width: 500px;
		margin: u(3) auto u(3) auto;
		height: 1px;
		border: solid 1px $gray;
		opacity: 0.3;
	}
}
