$home-showcase-top-offset: 15em;

.home-showcase {
	width: 100%;
	min-height: 90vh;
	background: $color__brand-grey;
	@include chevron();
	z-index: 3;
	position: relative;

	.showcase-inner {
		@extend .wrapper;
		max-width: 1000px;
	}

	.showcase-hero {
		padding-top: $home-showcase-top-offset;
		position: relative;
		&::before {
			margin-top: $home-showcase-top-offset;
			@extend %img-overlay;
			bottom: 3px;
			&:hover {
				opacity: .3;
			}
		}

		.hero-text {
			color: $color__brand-white;
			left: 10%;
			margin: 0;
			position: absolute;
			text-align: center;
			top: 50%;
			width: 80%;
		}

		img {
			width: 100%;
		}
	}

	$sub-item-img-height: 30em;

	.hero-sub-container {
		display: inline-grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2em;
		margin-top: 1.5em;
		margin-bottom: 25em;
		.hero-sub-item {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			min-height: $sub-item-img-height;
			&::before {
				@extend %img-overlay;
			}
			&:hover {
				&::before {
					opacity: .3;
				}
			}

			img {
				min-height: $sub-item-img-height;
				object-fit: cover;
				object-position: 50% 50%;
			}

			h3 {
				display: block;
				color: $color__brand-white;
				text-decoration: none;
				position: absolute;
				text-align: center;
				margin: 0;
				font-size: 2.2em;
			}
		}
	}
}
