.site-content {
	min-height: 80vh;
}


.masthead, .overview {
	padding-top: $chevron-dip;
	padding-bottom: $chevron-dip;
}

.overview {
	&.masthead {
		background: $color__brand-teal;
		color: $color__brand-white;
		padding-bottom: $chevron-dip * 2;
		min-height: 90vh;
		.entry-header {
			font-size: 0.6em;
		}
		.read-more-link > a {
			color: $color__brand-white;
		}
		a {
			color: white;
		}
	}
	&.even {
		background: $color__brand-grey;
		.overview-section__content {
			grid-template-areas:
			". aside aside aside aside aside . main main main main ."
			". aside aside aside aside aside . main main main main ."
			". aside aside aside aside aside . main main main main ."
			". aside aside aside aside aside . main main main main .";
			@include media('<desktop') {
				& { // this is some of the weirdest-but-function SCSS I've ever written
					grid-template-rows: auto auto;
					grid-template-areas:
					". aside aside aside aside ."
					". main main main main .";
				}
			}
		}
	}
	&:nth-of-type(2) {
		@include chevron();
	}


	&.even, &.odd {
		// display: grid;
		// grid-template-columns: 1fr 1fr;
	}
}

.page-section__content, .overview-section__content {
	@extend %inline-grid;
	grid-template-areas:
		". main main main main . aside aside aside aside aside aside"
		". main main main main . aside aside aside aside aside aside"
		". main main main main . aside aside aside aside aside aside"
		". main main main main . aside aside aside aside aside aside";
		@include media('<desktop') {
			& { // this is some of the weirdest-but-function SCSS I've ever written
				grid-template-areas:
				". main main main main ."
				". main main main main ."
				". main main main main ."
				". main main main main ."
			}
		}
	.text {
		grid-area: main;
	}
	.media {
		grid-area: aside;
	}
}

.page.masthead {
	background: $color__brand-grey;
	color: $color__brand-teal;
	padding: 0;
	.text {
		padding-top: $chevron-dip;
		padding-bottom: $chevron-dip;
	}
	.media {
		.post-thumbnail {
			height: 100%;
			img {
 				height: 100%;
				object-fit: cover;
				opacity: 0.1;
			}
		}
	}
	.entry-header {
		font-size: 0.6em;
	}
}

.entry-content {
	padding: 2em;
}
