

.home-cta {
	background: $color__brand-grey;
	padding: #{$chevron-dip * 2.5} 0 #{$chevron-dip * 2} 0;
	z-index: 1;

	.cta-container {
		display: grid;
		grid-template-columns: 20em 20em 20em;
		grid-gap: 4em;
		justify-content: space-evenly;
	}

	.cta-item {
		.cta-img {
			display: grid;
			min-height: 4em;
			padding: 2em;
			text-align: center;
			min-height: 15em;
			img {
				margin: auto;
				max-height: 100px;
				max-width: 90px;
			}
			
		}
		h4 {
			font-size: 2em;
			margin: 1em 0 .5em 0;
		}
		p {
			font-size: 1.2em;
		}
		a {
			color: $color__brand-teal;
			text-decoration: none;
			display: block;

		}
	}
}

#homepage-content {
	z-index: 2;
	font-size: 1em;
  padding-bottom: 16em;
	padding-top: $chevron-dip + 6em;
	position: relative;
	background: $color__brand-white;;
	margin-top: -$chevron-dip;
	margin-bottom: -$chevron-dip;
	color: $color__brand-teal;
	@include chevron()
}


.scroll-down-arrow {
	margin: 4em 1em;
	box-sizing: border-box;
  height: 2em;
  width: 2em;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  &:hover {
	  border-bottom-width: 4px;
	  border-right-width: 4px;
	}
}
