.post.video {
	margin: 15em auto;
	max-width: 700px;
	.player {
		.player__thumbnail {
			background: #000;
			min-height: 300px;
			width: 100%;
		}
		@extend %box-shadow;
	}
	.entry-title {
		font-size: 2.4em;
		padding: 1em;
	}
	.entry-content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;

		.video__meta {
			flex-shrink: 1;
			width: 20%;
			a {
				color: $color__brand-blue;
				@extend %monospaced;
			}
			svg * {
				fill: $color__brand-blue;
			}
			svg {
				height: 2em;
				width: 2em;
				display: inline;
			}
		}
		.video__description {
			padding: 1em;
			width: 80%;
			flex-shrink: 1;
			// color: $color__brand-grey;
		}
	}
}
