// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

// See end of file for cta and post-edit button

.button,
.btn,
button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: $white;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: $black;
	border: 1px solid $color-link;
	cursor: pointer;
}

input {
	&[type="submit"], &[type="reset"], &[type="button"] {
		display: inline-block;
		height: 38px;
		padding: 0 30px;
		color: $color-secondary;
		text-align: center;
		font-size: 11px;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: .1rem;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap;
		background-color: transparent;
		border-radius: $global-radius;
		border: 1px solid $color-link;
		cursor: pointer;
		box-sizing: border-box;
	}
}

.button:hover,
button:hover {
	color: $gray-light;
	background-color: lighten($black, 10.3%);
	border-color: lighten($gray-dark, 10.3%);
	outline: 0;
}

input {
	&[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
		color: $gray-dark;
		border-color: lighten($gray-dark, 33.3%);
		outline: 0;
	}
}

.button:focus,
button:focus {
	color: $gray-dark;
	border-color: lighten($gray-dark, 33.3%);
	outline: 0;
}

input {
	&[type="submit"]:focus, &[type="reset"]:focus, &[type="button"]:focus {
		color: $gray-dark;
		border-color: lighten($gray-dark, 33.3%);
		outline: 0;
	}
}

.button.button-primary,
button.button-primary {
	color: #fff;
	background-color: $color-brand;
	border-color: $color-brand;
}

input {
	&[type="submit"].button-primary, &[type="reset"].button-primary, &[type="button"].button-primary {
		color: #fff;
		background-color: $color-brand;
		border-color: $color-brand;
	}
}

.button.button-primary:hover,
button.button-primary:hover {
	color: #fff;
	background-color: $color-link;
	border-color: $color-link;
}

input {
	&[type="submit"].button-primary:hover, &[type="reset"].button-primary:hover, &[type="button"].button-primary:hover {
		color: #fff;
		background-color: $color-link;
		border-color: $color-link;
	}
}

.button.button-primary:focus,
button.button-primary:focus {
	color: #fff;
	background-color: $color-link;
	border-color: $color-link;
}

input {
	&[type="submit"].button-primary:focus, &[type="reset"].button-primary:focus, &[type="button"].button-primary:focus {
		color: #fff;
		background-color: $color-link;
		border-color: $color-link;
	}
	&[type="email"],
	&[type="number"],
	&[type="search"],
	&[type="text"],
	&[type="tel"],
	&[type="url"],
	&[type="password"] {
		height: 38px;
		padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
		background-color: #fff;
		border: 1px solid lighten($color-link, 8.8%);
		border-radius: $global-radius;
		box-shadow: none;
		box-sizing: border-box;
	}
}

.post-edit-link {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: 3rem;
	width: 3rem;
	background: $color-brand;
	border-radius: 50%;
	z-index: z('super', 1);
	box-shadow: 0 2px 6px 2px hsla(0,0%,0%,.1);
	padding: 15px;
	svg * {
		fill: white;
	}
	// clear mobile nav
	@include media('<tablet') {
		bottom: 4rem;
	}
}

// Found primarily in event pages
.cta {
	span, a {
		color: $white;
		text-align: center;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;
	}
}

// interactive highlight effect
.btn--material-highlight {
	position: relative;
	// appearance: none;
	border: none;
	color: white;
	font-size: 1.2em;
	cursor: pointer;
	outline: none;
	overflow: hidden;

	span, a {
	  position: relative;
	}

	&::before {
	  --size: 0;

	  content: '';
	  position: absolute;
	  left: var(--x);
	  top: var(--y);
	  width: var(--size);
	  height: var(--size);
	  background: radial-gradient(circle closest-side, lighten($color-brand, 5%), transparent);
	  transform: translate(-50%, -50%);
	  transition: width .2s ease, height .2s ease;
	}

	&:hover::before {
	  --size: 400px;
	}
}
